<ion-view title="Chat">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content>
    <i class="icon ion-heart"></i>
    <div class="list card">
      <div class="item item-avatar" ng-repeat="message in messages track by $index">
        <img src="img/ionic.png" alt="{{message.time}}">
        <h2>{{message.name}}</h2>
        <p>November 05, 1955</p>
        <!--<a ng-if="message.image">-->
          <img ng-src="{{message.image}}">
        <!--</a>-->
        <div class="item item-body item-text-wrap">
          <img src="img/ionic.png" class="full-image">
          <p>{{message.message}}</p>
          <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
          </p>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" href="#">
            <i class="icon ion-thumbsup"></i>
            Like
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a>
          <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a>
        </div>
      </div>
    </div>
    <!-- <chat-list></chat-list> -->
  </ion-content>
  <ion-footer-bar align-title="left">
    <div class="item-input-inset" style="width: 100%">
      <label class="item-input-wrapper">
        <i class="icon placeholder-icon"></i>
        <input type="text" placeholder="Type Message Here.." ng-model="draft.message">
      </label>
      <button class="button button-positive" ng-click="sendMessage(draft)">
        Send
      </button>
      <button class="button button-positive" ng-click="insert(draft)">
        Insert
      </button>
      <browse-file></browse-file>
    </div>
  </ion-footer-bar>
</ion-view>